name: Docs

on:
  pull_request:
    branches: [main]
    paths:
      - 'modules/**/**.tf'
      - 'modules/**/.terraform-docs.yml'

jobs:
  terraform-docs:
    name: Terraform Docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate Terraform docs
        uses: terraform-docs/gh-actions@v1.3.0
        with:
          working-dir: modules/vpc
          output-file: README.md
          output-method: inject
          git-push: true
          git-commit-message: "docs: auto-update terraform-docs"
